<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <small><b>To: </b>
          <% message.receipts.each do |receipt| %>
          <%= link_to User.find(receipt.receiver_id).name, User.find(receipt.receiver_id) unless receipt.receiver_id == current_user.id %> 
          <% end %>
          </small><br>
          <small><b>Subject: </b><%= message.subject %></small><br>
          <small><b>Date: </b><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
        </h4>
        <%= message.body %>
      </div>
    </div>
<% end %>