.pure-g.grid-columns-container
  .pure-u-3-4.map-column
    #map_canvas
  .pure-u-1-4#local_results
    - @results_users.each do |user|
      %p
        = render user
  .pure-u-1
    %span#local_seekers
      HERE ARE SOME PEOPLE YOU CAN HELP